<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			font-family: Arial, sans-serif;
		}

		.container {
			width: 50%;
			margin: 0 auto;
			text-align: center;
		}

		.name {
			font-size: 2em;
			color: #333;
		}

		.course {
			font-size: 1.2em;
			color: #666;
		}

		.section {
			font-size: 1em;
			color: #999;
		}
		.smiley

		{
			font-size: 48px;
			line-height: 1;
			display: inline-block;
			padding: 0;
			margin: 0;
	
		}
	</style>
</head>
<body>

	<div class="container">
		<h2 class="display-4" class="smiley">Welcome &#128512;</h2>
		<div class="name">Mart Dexter De Luna</div>
		<div class="course">Bachelor of Science in Information Technology</div>
		<div class="section">32E1</div>
	</div>
	
</body>
</html>